@import "../../styles/mixins";

:host {
  @extend %xo-card;
  @include flex-direction(column);

  position: absolute;
  left: 0;
  top: 40%;
  right: 0;

  width: 30rem;
  height: 18.5rem;
  margin: auto;
  padding: 1.2rem;

  > *:not(:first-child) {
    margin-top: 1rem;
  }

  > * {
    @include flex(0, 0, auto);
  }

  > .title {
    text-align: center;
    height: 2rem;
  }

  > .element {
    @extend %flexbox;
    @include align-items(center);
    height: 3.5rem;
    border-bottom: thin solid $xo-divider-color;

    > *:not(:first-child) {
      margin-left: 1rem;
    }

    input {
      width: 100%;
      color: white;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }

  > button {
    height: 4rem;
    font-size: 1.2rem;
    color: white;
    background-color: #7e7e7e;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;


    &:hover {
      background-color: #00c5ff;
    }
  }
}

